{% extends "base.html" %}
{% block header %}
  <p>Grocery List</p>
  <p>All Food</p>
  <p></p>
  <div>
    <a href=/app/categories>Add category</a> or <a href=/app/food/new>create new food</a>.
  </div>
{% endblock %}

{% block styling %}
    .food.tobuy {
      background: #ddd;
    }
{% endblock %}

{% block left_list %}
  {% for category in groceries %}
    {% if category['food'] | length > 0%}
      <div class=department>
        <p>--- {{ category['category'] }} ---</p>
      </div>
      {% for food in category['food'] %}
        <div class="food {{ loop.cycle('odd', 'even') }}">
          <a href="/app/food/{{ food['id'] }}/edit">[edit]</a>
          <div class=foodname>{{ food['name'] }}</div>
          <a href="/app/food/{{ food['id'] }}/bought">[don't buy]</a>
        </div>
      {% endfor %}
    {% endif %}
  {% endfor %}
{% endblock %}

{% block right_list %}
  {% for category in allfood %}
    {% if category['food'] | length > 0%}
      <div class=department>
        <p>--- {{ category['category'] }} ---</p>
      </div>
      {% for food in category['food'] %}
        <div class="food {{ loop.cycle('odd', 'even') }}">
          <!-- TODO: consider removing '[<]' link when the item is in the grocery list -->
          <a href="/app/food/{{ food['id'] }}/tobuy">[&lt;]</a>
          <div class=foodname>{{ food['name'] }}</div>
          <a href="/app/food/{{ food['id'] }}/edit">[edit]</a>
        </div>
      {% endfor %}
    {% endif %}
  {% endfor %}
{% endblock %}

{% block footer %}
  <p>Feet.</p>
  <p>Foot</p>
{% endblock %}
