{% extends "base.html" %}

{% block header %}
  <p>Groceries</p>
  <p>Recipes</p>
{% endblock %}

{% block left_list %}
  {% for category in groceries %}
    {% if category['food'] | length > 0 %}
      <div class=department>
        <p>--- {{ category['category'] }} ---</p>
      </div>
      {% for food in category['food'] %}
        <div class="food {{ loop.cycle('odd', 'even') }}">
          <a href="/app/food/{{ food['id'] }}/edit">[edit]</a>
          <div class=foodname>{{ food['name'] }}</div>
          <a href="/app/food/{{ food['id'] }}/bought">[bought]</a>
        </div>
      {% endfor %}
    {% endif %}
  {% endfor %}
{% endblock %}

{% block right_list %}
  {% for recipe in allrecipes %}
    <div id="recipe-{{ recipe.id }}" class="collapsed">
      <div class="item">
        <a href="/app/recipe/{{ recipe.id }}/buy">[add all]</a>
        <div onclick='toggle("recipe-{{ recipe.id }}")'>
          <strong>{{ recipe.name }}</strong>
        </div>
        <a href="/app/recipe/{{ recipe.id }}">[edit]</a>
      </div>
      {% for food in recipe.ingredients %}
        <div class="food {{ loop.cycle('odd', 'even') }}">
          <a href="/app/food/{{ food['id'] }}/tobuy">[&lt;]</a>
          <div class=foodname>{{ food['name'] }}</div>
          <a href="/app/food/{{ food['id'] }}/edit">[edit]</a>
        </div>
    {% else %}
        <div class="food">
          <a href="#"></a>
          <div class=foodname>No food in this recipe...</div>
          <a href="#"></a>
        </div>
    {% endfor %}
    </div>
  {% endfor %}
{% endblock %}

{% block footer %}
  <p>Feet.</p>
  <p>Foot</p>
  <script type="text/javascript">
    function toggle(id) {
      document.getElementById(id).classList.toggle('collapsed')
      console.log("toggled " + id)
    }
  </script>
{% endblock %}

